.note {
    height: auto;
    margin-bottom: 30px;
    width: 300px;
    box-shadow: 4px 4px gainsboro;
    position: relative;
    min-height: 80px;
}

.note-data {
    padding: 15px 15px 20px 15px;
}

.note-title {
    font-weight: bold;
}

.note-action {
    padding-left: 10px;
    width: 100%;
    visibility: hidden;
    position: absolute;
    bottom: 0;
    background: gainsboro;
    opacity: 0.7;
}

.note:hover > .note-action {
    visibility: visible;
}

.note-action button {
    margin: 5px;
    border: 0;
    background: transparent;
    cursor: pointer;
}

.note-action span {
    opacity: 0.2;
}

.note-action span:hover {
    opacity: 1;
}

.note-action a {
    cursor: pointer;
    opacity: 0.2;
}

.note-action a:hover {
    opacity: 1;
}

.action-send-back .action-remove {
    font-size: 18px;
}

.action-separator {
    margin-left: 10px;
    margin-right: 10px;
}

a.link-content {
    text-decoration-style: none;
    cursor: pointer;
    color: grey;
    opacity: 0.2;
    float: right;
}

a.link-content:active, a.link-content:hover {
    opacity: 1;
    text-decoration-style: none;
}

.note-color-picker {
    position: absolute;
    bottom: 40px;
    background: white;
    border: 1px solid gainsboro;
    left: -50px;
    border-radius: 5%;
}

.note-color-picker:after {
    border-right: solid 10px transparent;
    border-left: solid 10px transparent;
    border-top: solid 10px #ffffff;
    transform: translateX(-50%);
    position: absolute;
    content: '';
    top: 100%;
    left: 50%;
    height: 0;
    width: 0;
}

.container {
    cursor: pointer;
    font-size: 22px;
    user-select: none;
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: middle;
  }
  
  .container input {
    position: absolute;
    opacity: 0;
  }
  
  .checkmark {
    margin-top: 5px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid gainsboro;
  }