.note-type-selection {
    margin-bottom: 10px;
    margin-top: 10px;
}

.note-type-selection span {
    margin-right: 20px;
}

.note-content-input {
    width: 100%;
}

.note-title-input {
    margin-bottom: 15px;
}