.logo {
  background-image: url("./../../assets/note-tracker-logo.svg");
  background-repeat: no-repeat;
  height: 30px;
  margin: 20px 10px;
}

.menu {
  flex: 0 0 15%;
}

.menu-items {
  margin-top: 100px;
  font-weight: 400;
}

.menu-items ul li {
  list-style: none;
  text-decoration: none;
  margin-top: 20px;
  font-size: 16px;
}

.menu-items ul li a {
  color: gainsboro;
}

.menu-items ul li a:hover {
  color: darkslategray;
  text-decoration: none;
  box-shadow: 5px 0 0 0 #60c9df  inset;
}

.menu-items ul li a:active {
  font-weight: 500;
  color: darkslategray;
}

.menu-items ul li a.active {
  font-weight: 500;
  color: darkslategray;
  box-shadow: 5px 0 0 0 #60c9df  inset;
}

.menu-items span.icon {
  margin-left: 25px;
  margin-right: 15px;
}

.menu-separator {
  margin-left: 25px;
  margin-right: 25px;
  border-top: 1px solid gainsboro;
}

