.content {
    background: whitesmoke;
    flex: 1;
}

.note-list {
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: calc(100vh - 80px);
    align-items: center;
}

.no-notes {
    background-image: url("./../../assets/notes-empty-state.svg");
    background-repeat: no-repeat;
    height: 100%;
    width: 560px;
}
