.header {
    height: 80px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 30px;
    padding-left: 30px;
}

.header button {
    float: right;
}

.header-title {
    font-size: 20px;
    font-weight: 430;
    color: darkslategray;
}